In [76]:
import pandas as pd
import requests

In [68]:
# chooses only a specific sheet from the Excel file
df = pd.read_excel('AidDatasGlobalChineseDevelopmentFinanceDataset_v3.0.xlsx', sheet_name='GCDF_3.0')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20985 entries, 0 to 20984
Columns: 126 entries, AidData Record ID to Loan Detail Score
dtypes: datetime64[ns](7), float64(24), int64(7), object(88)
memory usage: 20.2+ MB

In [69]:
# filters data points to only show 'Asia' under 'Recipient Region'
df = df[df['Recipient Region'] == 'Asia']
df.head(3)

,AidData Record ID,Recommended For Aggregates,AidData Parent ID,Umbrella,Financier Country,Recipient,Recipient ISO-3,Recipient Region,Commitment Year,Implementation Start Year,...,OECD ODA Income Group,Location Narrative,Geographic Level of Precision Available,ADM1 Level Available,ADM2 Level Available,Geospatial Feature Available,Source Quality Score,Data Completeness Score,Implementation Detail Score,Loan Detail Score
0,94556,Yes,NaN,No,China (People's Republic of),Afghanistan,AFG,Asia,2021,2021.0,...,Low income,No location info available.,NaN,NaN,NaN,NaN,5,3,4.0,NaN
1,94564,Yes,NaN,No,China (People's Republic of),Afghanistan,AFG,Asia,2021,2021.0,...,Low income,NaN,NaN,NaN,NaN,NaN,5,3,4.0,NaN
2,94565,Yes,NaN,No,China (People's Republic of),Afghanistan,AFG,Asia,2021,2021.0,...,Low income,Kabul Afghanistan,NaN,NaN,NaN,NaN,4,3,5.0,NaN

In [77]:
# shows list of 'Recipient' and number of unique records
df.groupby('Recipient')['AidData Record ID'].nunique()

Recipient
Afghanistan                              169
Armenia                                   52
Asia, regional                            54
Azerbaijan                                53
Bangladesh                               175
Brunei Darussalam                         53
Cambodia                                 418
Democratic People's Republic of Korea    148
Georgia                                   52
India                                    113
Indonesia                                437
Kazakhstan                               181
Kyrgyz Republic                          146
Lao People's Democratic Republic         346
Malaysia                                 176
Maldives                                 101
Mongolia                                 232
Myanmar                                  495
Nepal                                    222
Pakistan                                 496
Philippines                              267
Sri Lanka                                301
Tajikistan                               172
Thailand                                 116
Timor-Leste                              131
Turkmenistan                              53
Uzbekistan                               196
Viet Nam                                 191
Name: AidData Record ID, dtype: int64

In [78]:
# filtering non-SEA rows

exclude_rows = ['Afghanistan', 'Armenia', 'Azerbaijan', "Democratic People's Republic of Korea", 'Georgia', 'India', 'Kazakhstan', 'Kyrgyz Republic', 'Maldives', 'Mongolia', 'Nepal', 'Pakistan', 'Sri Lanka', 'Tajikistan', 'Turkmenistan', 'Uzbekistan']
filtered_df = df[~df['Recipient'].str.contains('|'.join(exclude_rows))]

In [79]:
filtered_df.groupby('Recipient')['AidData Record ID'].nunique()

Recipient
Asia, regional                       54
Bangladesh                          175
Brunei Darussalam                    53
Cambodia                            418
Indonesia                           437
Lao People's Democratic Republic    346
Malaysia                            176
Myanmar                             495
Philippines                         267
Thailand                            116
Timor-Leste                         131
Viet Nam                            191
Name: AidData Record ID, dtype: int64

In [80]:
filtered_df.dtypes

AidData Record ID                 int64
Recommended For Aggregates       object
AidData Parent ID                object
Umbrella                         object
Financier Country                object
                                 ...
Geospatial Feature Available     object
Source Quality Score              int64
Data Completeness Score           int64
Implementation Detail Score     float64
Loan Detail Score               float64
Length: 126, dtype: object

In [82]:
# finding a string or keyword in all cells
# keep only rows that have the search keywork

search_string = 'petrochemical'

def check_string(cell):
    return search_string in str(cell)

mask = filtered_df.map(check_string).any(axis=1)
new_df = filtered_df[mask]
new_df.head(3)

,AidData Record ID,Recommended For Aggregates,AidData Parent ID,Umbrella,Financier Country,Recipient,Recipient ISO-3,Recipient Region,Commitment Year,Implementation Start Year,...,OECD ODA Income Group,Location Narrative,Geographic Level of Precision Available,ADM1 Level Available,ADM2 Level Available,Geospatial Feature Available,Source Quality Score,Data Completeness Score,Implementation Detail Score,Loan Detail Score
4036,89494,Yes,31,No,China (People's Republic of),Malaysia,MYS,Asia,2019,NaN,...,Upper middle income,The purpose of the project is to construct a r...,Precise,Yes,Yes,Yes,5,4,2.0,4.0
4037,89495,Yes,31,No,China (People's Republic of),Malaysia,MYS,Asia,2019,NaN,...,Upper middle income,The purpose of the project is to construct a r...,Precise,Yes,Yes,Yes,5,4,2.0,4.0
4038,89496,Yes,31,No,China (People's Republic of),Malaysia,MYS,Asia,2019,NaN,...,Upper middle income,The purpose of the project is to construct a r...,Precise,Yes,Yes,Yes,5,4,2.0,4.0

In [83]:
new_df.to_csv('data.csv')

In [58]:
# exclude / drop unnecessary columns
# LED TO SYNTAX ERROR: exclude_columns = ['Recipient ISO-3', 'Recipient Region', 'Flow Type', 'OECD ODA Concessionality Threshold', 'Flow Class', 'Sector Code', 'COVID', 'Guarantee Provided', 'Guarantor', 'Guarantor Agency Type', 'Insurance Provided', 'Insurance Provider', 'Insurance Provider Agency Type', 'Collateralized', 'Collateral Provider', 'Collateral Provider Agency Type', 'Security Agent/Collateral Agent', 'Security Agent/Collateral Agent Type', 'Collateral', 49:54, 56:57, 63:127]

exclude_columns = ['Recipient ISO-3', 'Recipient Region', 'Flow Type', 'OECD ODA Concessionality Threshold', 'Flow Class', 'Sector Code', 'COVID', 'Guarantee Provided', 'Guarantor', 'Guarantor Agency Type', 'Insurance Provided', 'Insurance Provider', 'Insurance Provider Agency Type', 'Collateralized', 'Collateral Provider', 'Collateral Provider Agency Type', 'Security Agent/Collateral Agent', 'Security Agent/Collateral Agent Type', 'Collateral']

# add ranges to the list
exclude_columns += list(range(49, 55))
exclude_columns += list(range(56, 58))
exclude_columns += list(range(63, 128))

new_df.drop(columns=exclude_columns)
new_df.dtypes

KeyError: '[49, 50, 51, 52, 53, 54, 56, 57, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127] not found in axis'